// font-faimly
$baseFontFamily = "IBM Plex Mono", "Noto Sans JP", "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif
$notoFont = 'NotoSansCJKjp',"Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif
$UbuntuFont = "Ubuntu", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif
$MonoFont = 'Roboto Mono', '游ゴシック体',YuGothic,'Yu Gothic',monospace
$RobotFont = 'Roboto Slab', -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif

$Garamond = 'Garamond','Georgia',yu-mincho-pr6n,YuMincho,'游明朝',Yu Mincho,YuMincho,Hiragino Mincho ProN,'HGS明朝E',serif

$baseFont = $Garamond
$headerFont = $Garamond
$LogoFont = $Garamond

$mincho = "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;


// font size
$baseFontSize = 18px
$baseFontSizeSP = 15px

// colors
$baseColor = #666
$textColor = #000
$textGreyColor = #666
$borderWidth = 1px
$borderColor = #dadce0
$bgColor = #fff

// layout
$contentWidth = 740px


// responsive breakpoints
$pad = 900px
$mobile = 750px
// $baseColor = #c60000

$imageDir = "/assets/images/"

$baseSectionMarginSide = 20px
$baseSectionMarginSideMobile = 15px
$baseSectionPaddingSide = 15px
$baseSectionPaddingSideMobile = 10px
$baseSectionTitleBottomMargin = 20px
$baseBlockBottomMargin = 10px



// Z Layer
$GlobalBorderZ = 10
$HeaderZ = 1

//header
$headerHeight = 50px

$fontL = 2.0rem
$fontM = 1.6rem
$fontMS = 1.4rem
$fontMSS = 1.3rem
$fontSM = 1.2rem
$fontS = 1.0rem
$fontSS = 0.9rem
$fontSSS = 0.8rem

$fontMobileL = 1.7rem
$fontMobileM = 1.3rem
$fontMobileMS = 1.2rem
$fontMobileMSS = 1.1rem
$fontMobileSS = 1.0rem
$fontMobileS = 0.9rem
$fontMobileSS = 0.8rem
$fontMobileSSS = 0.7rem


fillAbs()
  position absolute
  width 100%
  height 100%
  top 0
  left 0



